# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Antigravity/GSD local states
.planning/
.antigravity/

# OS
.DS_Store
Thumbs.db
#.agent/skills/gsd/
.gitignore
#.claude
__tobedeleted/
release_manager/
docs/DEV_KNOWLEDGEBASE.md
